[package]
name = "shared"
version = "0.1.0"
edition = "2021"
rust-version = "1.66"

[lib]
crate-type = ["lib", "staticlib", "cdylib"]
name = "shared"

[features]
typegen = ["crux_core/typegen"]

[dependencies]
anyhow.workspace = true
bincode = "1.3.3"
crux_core = { version = "0.6", path = "../../../crux_core" }
crux_http = { version = "0.3", path = "../../../crux_http" }
crux_kv = { version = "0.1", path = "../../../crux_kv" }
crux_macros = { version = "0.3", path = "../../../crux_macros" }
crux_platform = { version = "0.1", path = "../../../crux_platform" }
crux_time = { version = "0.1", path = "../../../crux_time" }
derive_more = "0.99.17"
lazy_static = "1.4.0"
serde = { workspace = true, features = ["derive"] }
serde_json = "1.0.96"
thiserror = "1.0.40"
uniffi = "0.23.0"
url = "2.3.1"
uuid = { version = "1.3.3", features = ["v4", "wasm-bindgen", "js"] }
wasm-bindgen = "0.2.86"

[dev-dependencies]
assert_let_bind = "0.1.1"

[target.uniffi-bindgen.dependencies]
uniffi = { version = "0.23.0", features = ["cli"] }

[build-dependencies]
uniffi = { version = "0.23.0", features = ["build"] }
