[workspace]
members = [
  "crux_core",
  "crux_http",
  "crux_kv",
  "crux_macros",
  "crux_platform",
  "crux_time"
]

[workspace.package]
authors = ["Red Badger Consulting Limited"]
edition = "2021"
repository = "https://github.com/redbadger/crux/"
license = "Apache-2.0"
keywords = ["crux", "crux_core", "cross-platform-ui", "ffi", "wasm"]
rust-version = "1.66"

[workspace.dependencies]
anyhow = "1.0.69"
bcs = "0.1.5"
serde = "1.0.154"
