[workspace]
members = ["cli", "server", "shared", "shared_types", "tauri/src-tauri", "web-yew"]

[workspace.package]
authors = ["Red Badger Consulting Limited"]
edition = "2021"
repository = "https://github.com/redbadger/crux/"
license = "Apache-2.0"
keywords = ["crux", "crux_core", "cross-platform-ui", "ffi", "wasm"]
rust-version = "1.66"

[workspace.dependencies]
anyhow = "1.0.71"
serde = "1.0.163"
uuid = { version = "1.3.3", features = ["v4", "wasm-bindgen", "js", "serde"] }
