[package]
name = "shared"
version = "0.1.0"
authors.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true
keywords.workspace = true
rust-version.workspace = true

[lib]
crate-type = ["lib", "staticlib", "cdylib"]
name = "shared"

[[bin]]
name = "codegen"
required-features = ["codegen"]

[features]
uniffi = ["dep:uniffi"]
wasm_bindgen = ["dep:wasm-bindgen", "dep:getrandom"]
codegen = [
    "crux_core/cli",
    "dep:clap",
    "dep:log",
    "dep:pretty_env_logger",
    "uniffi",
]
facet_typegen = ["crux_core/facet_typegen"]

[dependencies]
clap = { version = "4.5.53", optional = true, features = ["derive"] }
crux_core.workspace = true
crux_http.workspace = true
crux_kv.workspace = true
derive_builder = "0.20.2"
facet = { version = "=0.31", features = ["chrono"] }
getrandom = { version = "0.3.4", optional = true, features = ["wasm_js"] }
log = { version = "0.4.29", optional = true }
pretty_env_logger = { version = "0.5.0", optional = true }
serde = { workspace = true, features = ["derive"] }
serde_json = "1.0"
uniffi = { version = "=0.29.4", optional = true }
wasm-bindgen = { version = "0.2.106", optional = true }

[dev-dependencies]
insta = { version = "1.44.3", features = ["yaml"] }
serde_json = "1.0"
