[package]
name = "crux_core"
description = "Cross-platform app development in Rust"
version = "0.3.0"
readme = "README.md"
authors.workspace = true
repository.workspace = true
edition.workspace = true
license.workspace = true
keywords.workspace = true
rust-version.workspace = true

[package.metadata.docs.rs]
all-features = true

[dependencies]
anyhow.workspace = true
bcs.workspace = true
crossbeam-channel = "0.5.7"
derive_more = "0.99.17"
futures = "0.3.26"
serde = { workspace = true, features = ["derive"] }
serde_json = "1.0.94"
serde-generate = { version = "0.25.0", optional = true }
serde-reflection = { version = "0.3.6", optional = true }
thiserror = "1.0.39"
uuid = { version = "1.3.0", features = ["v4", "wasm-bindgen", "js"] }
wasm-bindgen = "0.2.84"

[dev-dependencies]
assert_matches = "1.5"
crux_macros = { version = "0.1", path = "../crux_macros" }
serde = { version = "1.0.154", features = ["derive"] }
static_assertions = "1.1"
async-channel = "1.8"
rand = "0.8"

[features]
typegen = ["dep:serde-generate", "dep:serde-reflection"]
