[package]
name = "crux_core"
version = "0.16.0-rc1"
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
description = "Cross-platform app development in Rust"
readme = "README.md"
repository.workspace = true
license.workspace = true
keywords.workspace = true

[package.metadata.docs.rs]
all-features = true

[dependencies]
anyhow.workspace = true
bincode = "=1.3.3"
crossbeam-channel = "0.5.15"
crux_cli = { version = "0.1.0", optional = true, path = "../crux_cli" }
crux_macros = { version = "0.7.0-rc1", path = "../crux_macros", optional = true }
erased-serde = "0.4"
facet.workspace = true
facet_generate = { version = "0.4.2", optional = true }
futures = "0.3.31"
serde = { workspace = true, features = ["derive"] }
serde_json = "1.0.140"
serde-generate = { version = "=0.26.0", optional = true }
serde-reflection = { version = "=0.4.0", optional = true }
slab = "0.4.10"
thiserror = "2.0.12"
uniffi = { workspace = true, optional = true }

[dev-dependencies]
assert_fs = "1.1.3"
assert_matches = "1.5"
async-channel = "2.4.0"
crux_http = { path = "../crux_http" }
crux_time = { path = "../crux_time" }
doctest_support = { path = "../doctest_support" }
rand = "0.9"
serde = { version = "1.0.219", features = ["derive"] }
static_assertions = "1.1"
url = "2.5.4"
uuid = { version = "1.17.0", features = ["serde", "v4"] }

[target.'cfg(not(target_family = "wasm"))'.dependencies]
uniffi.workspace = true

[target.'cfg(target_family = "wasm")'.dependencies]
wasm-bindgen = "0.2.100"

[features]
default = ["bindgen", "crux_macros"]
bindgen = ["dep:uniffi"]
cli = ["dep:crux_cli"]
facet_typegen = ["crux_macros/facet_typegen", "dep:facet_generate"]
typegen = ["crux_macros/typegen", "dep:serde-generate", "dep:serde-reflection"]
