[package]
name = "shared"
version = "0.1.0"
edition = "2021"
rust-version = "1.80"

[lib]
crate-type = ["lib", "staticlib", "cdylib"]
name = "shared"

[[bin]]
name = "crux_cli"
required-features = ["cli"]

[features]
cli = ["crux_core/cli"]

[dependencies]
async-sse = "5.1.0"
async-std = "1.13.1"
chrono = { version = "0.4.41", features = ["serde"] }
crux_core.workspace = true
crux_http.workspace = true
futures = "0.3.31"
serde = { workspace = true, features = ["derive"] }
serde_json = "1.0.140"
url = "2.5.4"

[target.'cfg(not(target_family = "wasm"))'.dependencies]
uniffi = "=0.29.1"

[target.'cfg(target_family = "wasm")'.dependencies]
wasm-bindgen = "0.2.100"

[dev-dependencies]
insta = { version = "1.43.1", features = ["yaml"] }
