[package]
name = "shared"
version = "0.1.0"
edition = "2021"
rust-version = "1.66"

[lib]
crate-type = ["lib", "staticlib", "cdylib"]
name = "shared"

[dependencies]
anyhow.workspace = true
async-sse = "5.1.0"
async-std = "1.12.0"
bincode = "1.3.3"
chrono = "0.4.23"
crux_core = { version = "0.3", path = "../../../crux_core" }
crux_http = { version = "0.2", path = "../../../crux_http" }
crux_macros = { version = "0.1", path = "../../../crux_macros" }
derive_more = "0.99.17"
futures = "0.3.26"
lazy_static = "1.4.0"
serde = { workspace = true, features = ["derive"] }
serde_json = "1.0.94"
thiserror = "1.0.39"
uniffi = "0.23.0"
url = "2.3.1"
uuid = { version = "1.3.0", features = ["v4", "wasm-bindgen", "js"] }
wasm-bindgen = "0.2.84"

[dev-dependencies]
bcs = "0.1.5"

[target.uniffi-bindgen.dependencies]
uniffi = { version = "0.23.0", features = ["cli"] }

[build-dependencies]
uniffi = { version = "0.23.0", features = ["build"] }
