[package]
name = "shared"
version = "0.1.0"
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
repository.workspace = true
license.workspace = true
keywords.workspace = true

[lib]
crate-type = ["cdylib", "lib", "staticlib"]

[dependencies]
crux_core.workspace = true
serde = { workspace = true, features = ["derive"] }
uniffi = "0.29.3"
wasm-bindgen = "0.2.100"

[build-dependencies]
uniffi = { version = "0.29.3", features = ["build"] }

[target.uniffi-bindgen.dependencies]
uniffi = { version = "0.29.3", features = ["cli"] }
