[package]
name = "crux_http"
description = "HTTP capability for use with crux_core"
version = "0.2.0"
readme = "README.md"
authors.workspace = true
repository.workspace = true
edition.workspace = true
license.workspace = true
keywords.workspace = true
rust-version.workspace = true

[dependencies]
anyhow.workspace = true
async-trait = "0.1.66"
bcs.workspace = true
crux_core = { version = "0.3", path = "../crux_core" }
futures-util = "0.3"
http-types = { version = "2.12", default-features = false, features = ["fs"] }
pin-project-lite = "0.2.9"
serde = { workspace = true, features = ["derive"] }
serde_json = "1.0.94"
url = "2.3.1"

[dev-dependencies]
futures-test = "0.3"
assert_matches = "1.5"
crux_macros = { version = "0.1", path = "../crux_macros" }
