[package]
name = "tui"
version = "0.1.0"
authors.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true
keywords.workspace = true
rust-version.workspace = true

[dependencies]
anyhow = { workspace = true }
crossbeam-channel = "0.5.15"
crossterm = "0.29.0"
futures = "0.3"
ratatui = "0.30.0"
reqwest = { version = "0.13.2", features = ["stream"] }
shared = { path = "../shared" }
tokio = { version = "1.49.0", features = ["rt-multi-thread", "macros"] }
