[package]
name = "web-leptos"
version = "0.1.0"
authors.workspace = true
repository.workspace = true
edition.workspace = true
license.workspace = true
keywords.workspace = true
rust-version.workspace = true

[dependencies]
anyhow.workspace = true
console_error_panic_hook = "0.1.7"
console_log = "1.0.0"
futures-util = "0.3.31"
gloo-net = { version = "0.6.0", features = ["http"] }
js-sys = "0.3.83"
log = "0.4.29"
shared = { path = "../shared" }
wasm-bindgen = "0.2.106"
wasm-streams = "0.4.2"

leptos = { version = "0.8.14", features = ["csr"] }

[lints.clippy]
empty_docs = "allow"
