[package]
name = "server"
version = "0.1.0"
authors.workspace = true
repository.workspace = true
edition.workspace = true
license.workspace = true
keywords.workspace = true
rust-version.workspace = true

[dependencies]
axum = { version = "0.6.17", features = ["headers"] }
futures = "0.3.28"
futures-signals = "0.3.32"
serde = { workspace = true, features = ["derive"] }
serde_json = "1.0.96"
tokio = { version = "1.28.0", features = ["full"] }
tokio-stream = "0.1.14"
tower-http = { version = "0.4.0", features = ["cors"] }
tracing = "0.1.38"
tracing-subscriber = { version = "0.3.17", features = ["env-filter"] }
