[package]
name = "shared"
version = "0.1.0"
# FIXME - wasm-pack doesn't like these. Re-enable when it does
# authors.workspace = true
# repository.workspace = true
edition.workspace = true
# license.workspace = true
# keywords.workspace = true
rust-version.workspace = true

[features]
typegen = ["crux_core/typegen"]

[lib]
crate-type = ["lib", "staticlib", "cdylib"]
name = "shared"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[dependencies]
anyhow.workspace = true
serde = { workspace = true, features = ["derive"] }
crux_core = { version = "0.6", path = "../../../crux_core" }
crux_kv = { version = "0.1", path = "../../../crux_kv" }
crux_macros = { version = "0.3", path = "../../../crux_macros" }
bincode = "1.3.3"
lazy_static = "1.4"
uniffi = "0.23.0"
automerge = "0.4.1"
futures = "0.3"
wasm-bindgen = "0.2"

[target.uniffi-bindgen.dependencies]
uniffi = { version = "0.23.0", features = ["cli"] }

[build-dependencies]
uniffi = { version = "0.23.0", features = ["build"] }

[dev-dependencies]
assert_let_bind = "0.1.1"
