[package]
name = "shared"
version = "0.1.0"
# FIXME - wasm-pack doesn't like these. Re-enable when it does
# authors.workspace = true
# repository.workspace = true
edition.workspace = true
# license.workspace = true
# keywords.workspace = true
rust-version.workspace = true

[features]
typegen = ["crux_core/typegen"]

[lib]
crate-type = ["lib", "staticlib", "cdylib"]
name = "shared"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[dependencies]
automerge = { version = "=0.4.1", features = ["wasm"] }
crux_core.workspace = true
crux_kv.workspace = true
crux_time.workspace = true
futures = "0.3"
lazy_static = "1.5"
serde = { workspace = true, features = ["derive"] }
uniffi = "0.29"
wasm-bindgen = "0.2"

# see https://docs.rs/getrandom/latest/getrandom/#webassembly-support
getrandom = { version = "=0.2", features = ["js"] }

[target.uniffi-bindgen.dependencies]
uniffi = { version = "0.29", features = ["cli"] }

[build-dependencies]
uniffi = { version = "0.29", features = ["build"] }
